#contactInfo {
    display: flex;
    flex-flow: column wrap;
    place-content: center flex-start;
    place-items: center flex-start;
    gap: 10px;
    border-radius: 10px;
    background: rgb(36, 41, 46);
    padding: 10px;
}

#contactInfo>h1 {
    font-size: large;
}

#contactInfo>label {
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
    text-align: center;
}